.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.li {
    display: inline-block;
    margin: 20px;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover,
.a:active {
    color: #fa923f;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}